
$color : transparent

body
	background : $color

.th-sidemenu-toggle
	margin-right : 20px

.content
	padding : 100px 15px 60px

.th-footer
	border : 0 none
	padding-top : 5px
	margin-top : 10px

	.btn
		border-radius : 0
		margin : 0

		// .glyphicon
		// 	float : left

		.th-text
			float : left
			padding-left : 4px
			line-height : 24px
			font-size : 13px
			display : none

