div.modal-header
	h3 modal header


div.modal-body
	p bla bla bla

	button.btn.btn-default(type="button" ng-click="close()") close
	button.btn.btn-default(type="button" ng-click="dismiss()") dismiss



div.modal-footer
	p footer