
div.th-dropdown(ng-class="class")
	button.btn.btn-default.dropdown-toggle.th-toggle(
		type="button"
		ng-click="toggle($event)"
	)
		span.th-label(ng-bind="selected.name")
		span.caret

	ul.th-menu(ng-hide="hideMenu")
		li.th-option( ng-repeat="o in options", ng-click="select($event, $index)" )
			span( ng-bind="o.name" )
