/* line 1, ../../client/styles/_common.sass */
ul.th-justified-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  min-height: 90px;
}
/* line 7, ../../client/styles/_common.sass */
ul.th-justified-list li {
  border-bottom: 1px solid #cccccc;
  padding: 15px 60px 15px 15px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 15, ../../client/styles/_common.sass */
ul.th-justified-list li:last-child {
  border-bottom: 0 none;
}
/* line 18, ../../client/styles/_common.sass */
ul.th-justified-list li .thumb {
  width: 64px;
  height: 64px;
  float: left;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-right: 15px;
}
/* line 28, ../../client/styles/_common.sass */
ul.th-justified-list li .thumb .glyphicon, ul.th-justified-list li .thumb i {
  color: #cccccc;
  font-size: 30px;
  line-height: 60px;
}
/* line 33, ../../client/styles/_common.sass */
ul.th-justified-list li h2 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 40, ../../client/styles/_common.sass */
ul.th-justified-list li p {
  font-size: 14px;
  font-weight: normal;
}
/* line 44, ../../client/styles/_common.sass */
ul.th-justified-list li ul.tags {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../client/styles/_common.sass */
ul.th-justified-list li ul.tags li {
  font-size: 10px;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  float: left;
  color: white;
  background: #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 58, ../../client/styles/_common.sass */
ul.th-justified-list li ul.tags li i {
  margin-right: 5px;
}
/* line 61, ../../client/styles/_common.sass */
ul.th-justified-list li ul.tags li:last-child {
  margin-right: 0;
}
/* line 64, ../../client/styles/_common.sass */
ul.th-justified-list li .badge {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  color: #cccccc;
}
/* line 71, ../../client/styles/_common.sass */
ul.th-justified-list li .btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -17px;
  background: none;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}

/* line 81, ../../client/styles/_common.sass */
.th-icon-btn {
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 84, ../../client/styles/_common.sass */
.th-icon-btn:hover {
  color: white;
  background: black;
}

/* line 5, ../../client/styles/_exercises.sass */
.exercises p {
  padding: 15px;
  margin: 15px 0;
}

/* line 3, ../../client/styles/_exercise.sass */
.exercise .heading {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 8, ../../client/styles/_exercise.sass */
.exercise .thumb {
  width: 64px;
  height: 64px;
  float: left;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-right: 15px;
}
/* line 18, ../../client/styles/_exercise.sass */
.exercise .thumb .glyphicon, .exercise .thumb i {
  color: #cccccc;
  font-size: 30px;
  line-height: 60px;
}
/* line 23, ../../client/styles/_exercise.sass */
.exercise .muscles {
  list-style: none;
  display: block;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 29, ../../client/styles/_exercise.sass */
.exercise .muscles li {
  float: left;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  color: white;
  background: #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 37, ../../client/styles/_exercise.sass */
.exercise .muscles li i {
  margin-right: 5px;
}
/* line 40, ../../client/styles/_exercise.sass */
.exercise .sets {
  margin: 20px 0;
}
/* line 43, ../../client/styles/_exercise.sass */
.exercise .sets .set {
  margin: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 47, ../../client/styles/_exercise.sass */
.exercise .sets .set.previous {
  color: #cccccc;
}
/* line 50, ../../client/styles/_exercise.sass */
.exercise .sets .set.current {
  color: black;
}
/* line 53, ../../client/styles/_exercise.sass */
.exercise .sets .set .btn {
  color: white;
}
/* line 57, ../../client/styles/_exercise.sass */
.exercise .upsert-form .raw {
  margin: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 79, ../../client/styles/_exercise.sass */
.exercise .add-set-btn {
  margin-right: 5px;
}

/* line 1, ../../client/styles/_chosen.sass */
.th-chosen {
  overflow: visible;
  border: 1px solid #cccccc;
  padding: 0 17px 6px 3px;
  position: relative;
  font-size: 13px;
  min-height: 36px;
  cursor: pointer;
  z-index: 2000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 13, ../../client/styles/_chosen.sass */
.th-chosen .caret {
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 18, ../../client/styles/_chosen.sass */
.th-chosen .caret.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 22, ../../client/styles/_chosen.sass */
.th-chosen ul.selected {
  overflow: visible;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 29, ../../client/styles/_chosen.sass */
.th-chosen ul.selected li {
  float: left;
  color: black;
  margin: 6px 3px 0 3px;
  padding: 2px 5px;
  background: #cccccc;
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  white-space: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 39, ../../client/styles/_chosen.sass */
.th-chosen ul.selected li span {
  display: inline-block;
}
/* line 42, ../../client/styles/_chosen.sass */
.th-chosen ul.selected li i {
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 47, ../../client/styles/_chosen.sass */
.th-chosen ul.selected li i:hover {
  background: black;
  color: white;
}
/* line 51, ../../client/styles/_chosen.sass */
.th-chosen div.options {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 5px;
  z-index: 1000;
  background: white;
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 66, ../../client/styles/_chosen.sass */
.th-chosen div.options .filter-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2020;
}
/* line 72, ../../client/styles/_chosen.sass */
.th-chosen div.options .add-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2020;
}
/* line 80, ../../client/styles/_chosen.sass */
.th-chosen div.options .filter-form, .th-chosen div.options .add-form {
  margin: 5px 0;
  padding: 0 60px 0 0;
}
/* line 84, ../../client/styles/_chosen.sass */
.th-chosen div.options ul {
  padding: 0;
  margin: 0 -5px 5px -5px;
  list-style: none;
  z-index: 2010;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 93, ../../client/styles/_chosen.sass */
.th-chosen div.options ul li {
  padding: 4px 8px;
  overflow: hidden;
  white-space: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 100, ../../client/styles/_chosen.sass */
.th-chosen div.options ul li:hover {
  color: white;
  text-shadow: 0 0 2px black;
}

/* line 1, ../../client/styles/_dropdown.sass */
.th-dropdown {
  position: relative;
}
/* line 6, ../../client/styles/_dropdown.sass */
.th-dropdown .th-toggle .th-label {
  margin-right: 5px;
}
/* line 9, ../../client/styles/_dropdown.sass */
.th-dropdown ul.th-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #cccccc;
  z-index: 2010;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 22, ../../client/styles/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
/* line 27, ../../client/styles/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:nth-child(even) {
  background: white;
}
/* line 30, ../../client/styles/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:hover {
  color: white;
  background: black;
}

/* line 1, ../../client/styles/_sidebar.sass */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding: 40px 40px 40px 0;
  opacity: 0;
  background: none;
  -webkit-transition: left 0.2s linear, background 0.2s linear;
  -webkit-transition-delay: 0s, 0.1s;
  -moz-transition: left 0.2s linear, background 0.2s linear 0.1s;
  -o-transition: left 0.2s linear, background 0.2s linear 0.1s;
  transition: left 0.2s linear, background 0.2s linear 0.1s;
}
/* line 13, ../../client/styles/_sidebar.sass */
.sidebar.sidebar-show {
  left: 0;
  opacity: 1;
  background: rgba(11, 11, 11, 0.3);
}
/* line 21, ../../client/styles/_sidebar.sass */
.sidebar .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
}
/* line 23, ../../client/styles/_sidebar.sass */
.sidebar .list-group .list-group-item:last-child {
  border-bottom-left-radius: 0;
}

/* line 23, ../../client/styles/main.sass */
body {
  background: transparent;
}

/* line 26, ../../client/styles/main.sass */
header {
  margin: 0;
}
/* line 29, ../../client/styles/main.sass */
header .th-sidemenu-toggle {
  margin-right: 20px;
}

/* line 32, ../../client/styles/main.sass */
.content {
  padding: 80px 0 60px 0;
}

/* line 35, ../../client/styles/main.sass */
.th-footer {
  border: 0 none;
  padding-top: 5px;
  margin-top: 10px;
}
/* line 40, ../../client/styles/main.sass */
.th-footer .btn {
  border-radius: 0;
  margin: 0;
}
/* line 47, ../../client/styles/main.sass */
.th-footer .btn .th-text {
  float: left;
  padding-left: 4px;
  line-height: 24px;
  font-size: 13px;
  display: none;
}
