/* line 1, ../../app/styles/_common.sass */
ul.th-justified-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
}
/* line 6, ../../app/styles/_common.sass */
ul.th-justified-list li {
  border-bottom: 1px solid #cccccc;
  padding: 15px 60px 15px 15px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 14, ../../app/styles/_common.sass */
ul.th-justified-list li:last-child {
  border-bottom: 0 none;
}
/* line 17, ../../app/styles/_common.sass */
ul.th-justified-list li .thumb {
  width: 64px;
  height: 64px;
  float: left;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-right: 15px;
}
/* line 27, ../../app/styles/_common.sass */
ul.th-justified-list li .thumb .glyphicon {
  color: #cccccc;
  font-size: 30px;
  line-height: 60px;
}
/* line 32, ../../app/styles/_common.sass */
ul.th-justified-list li h2 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 39, ../../app/styles/_common.sass */
ul.th-justified-list li p {
  font-size: 14px;
  font-weight: normal;
}
/* line 43, ../../app/styles/_common.sass */
ul.th-justified-list li ul.tags {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../../app/styles/_common.sass */
ul.th-justified-list li ul.tags li {
  font-size: 10px;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  float: left;
  color: white;
  background: #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 56, ../../app/styles/_common.sass */
ul.th-justified-list li ul.tags li:last-child {
  margin-right: 0;
}
/* line 59, ../../app/styles/_common.sass */
ul.th-justified-list li .badge {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  color: #cccccc;
}
/* line 66, ../../app/styles/_common.sass */
ul.th-justified-list li .btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -17px;
  background: none;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 2, ../../app/styles/_exercises.sass */
.exercises div.input-group {
  margin-bottom: 15px;
}

/* line 11, ../../app/styles/main.sass */
body {
  background: transparent;
}

/* line 14, ../../app/styles/main.sass */
header {
  margin: 0;
}
/* line 17, ../../app/styles/main.sass */
header .th-sidemenu-toggle {
  margin-right: 20px;
}

/* line 20, ../../app/styles/main.sass */
.content {
  padding: 80px 0 60px 0;
}

/* line 23, ../../app/styles/main.sass */
.th-footer {
  border: 0 none;
  padding-top: 5px;
  margin-top: 10px;
}
/* line 28, ../../app/styles/main.sass */
.th-footer .btn {
  border-radius: 0;
  margin: 0;
}
/* line 35, ../../app/styles/main.sass */
.th-footer .btn .th-text {
  float: left;
  padding-left: 4px;
  line-height: 24px;
  font-size: 13px;
  display: none;
}
