/* line 1, ../../client/styles/common/_common.sass */
ul.th-justified-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  min-height: 90px;
}
/* line 7, ../../client/styles/common/_common.sass */
ul.th-justified-list li {
  border-bottom: 1px solid #cccccc;
  padding: 15px 60px 15px 15px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 15, ../../client/styles/common/_common.sass */
ul.th-justified-list li:last-child {
  border-bottom: 0 none;
}
/* line 18, ../../client/styles/common/_common.sass */
ul.th-justified-list li .thumb {
  width: 64px;
  height: 64px;
  float: left;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-right: 15px;
}
/* line 28, ../../client/styles/common/_common.sass */
ul.th-justified-list li .thumb .glyphicon, ul.th-justified-list li .thumb i {
  color: #cccccc;
  font-size: 30px;
  line-height: 60px;
}
/* line 33, ../../client/styles/common/_common.sass */
ul.th-justified-list li h2 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 40, ../../client/styles/common/_common.sass */
ul.th-justified-list li p {
  font-size: 14px;
  font-weight: normal;
}
/* line 44, ../../client/styles/common/_common.sass */
ul.th-justified-list li ul.tags {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../client/styles/common/_common.sass */
ul.th-justified-list li ul.tags li {
  font-size: 10px;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  float: left;
  color: white;
  background: #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 58, ../../client/styles/common/_common.sass */
ul.th-justified-list li ul.tags li i {
  margin-right: 5px;
}
/* line 61, ../../client/styles/common/_common.sass */
ul.th-justified-list li ul.tags li:last-child {
  margin-right: 0;
}
/* line 64, ../../client/styles/common/_common.sass */
ul.th-justified-list li .badge {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  color: #cccccc;
}
/* line 71, ../../client/styles/common/_common.sass */
ul.th-justified-list li .btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -17px;
  background: none;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}

/* line 81, ../../client/styles/common/_common.sass */
.th-icon-btn {
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 84, ../../client/styles/common/_common.sass */
.th-icon-btn:hover {
  color: white;
  background: black;
}

/* line 3, ../../client/styles/common/_buttons.sass */
.btn.icon-left i {
  margin-right: 5px;
}
/* line 7, ../../client/styles/common/_buttons.sass */
.btn.icon-right i {
  margin-left: 5px;
}

/* line 1, ../../client/styles/common/_sidebar.sass */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding: 40px 40px 40px 0;
  opacity: 0;
  background: none;
  -webkit-transition: left 0.2s linear, background 0.2s linear;
  -webkit-transition-delay: 0s, 0.1s;
  -moz-transition: left 0.2s linear, background 0.2s linear 0.1s;
  -o-transition: left 0.2s linear, background 0.2s linear 0.1s;
  transition: left 0.2s linear, background 0.2s linear 0.1s;
}
/* line 13, ../../client/styles/common/_sidebar.sass */
.sidebar.sidebar-show {
  left: 0;
  opacity: 1;
  background: rgba(11, 11, 11, 0.3);
}
/* line 20, ../../client/styles/common/_sidebar.sass */
.sidebar .list-group .list-group-item {
  font-size: 22px;
}
/* line 23, ../../client/styles/common/_sidebar.sass */
.sidebar .list-group .list-group-item i {
  margin-right: 10px;
}
/* line 26, ../../client/styles/common/_sidebar.sass */
.sidebar .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
}
/* line 28, ../../client/styles/common/_sidebar.sass */
.sidebar .list-group .list-group-item:last-child {
  border-bottom-left-radius: 0;
}

/* line 5, ../../client/styles/pages/_exercises.sass */
.exercises p {
  padding: 15px;
  margin: 15px 0;
}

/* line 3, ../../client/styles/pages/_exercise.sass */
.exercise .heading {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 8, ../../client/styles/pages/_exercise.sass */
.exercise .thumb {
  width: 64px;
  height: 64px;
  float: left;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-right: 15px;
}
/* line 18, ../../client/styles/pages/_exercise.sass */
.exercise .thumb .glyphicon, .exercise .thumb i {
  color: #cccccc;
  font-size: 30px;
  line-height: 60px;
}
/* line 23, ../../client/styles/pages/_exercise.sass */
.exercise .muscles {
  list-style: none;
  display: block;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 29, ../../client/styles/pages/_exercise.sass */
.exercise .muscles li {
  float: left;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  color: white;
  background: #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 37, ../../client/styles/pages/_exercise.sass */
.exercise .muscles li i {
  margin-right: 5px;
}
/* line 40, ../../client/styles/pages/_exercise.sass */
.exercise .sets {
  margin: 20px 0;
}
/* line 43, ../../client/styles/pages/_exercise.sass */
.exercise .sets .raw {
  overflow: hidden;
  *zoom: 1;
}
/* line 46, ../../client/styles/pages/_exercise.sass */
.exercise .sets .set {
  margin: 10px 0;
  color: #cccccc;
}
/* line 50, ../../client/styles/pages/_exercise.sass */
.exercise .sets .set.complete {
  color: black;
}
/* line 53, ../../client/styles/pages/_exercise.sass */
.exercise .sets .set .btn {
  color: white;
}
/* line 56, ../../client/styles/pages/_exercise.sass */
.exercise .completion {
  margin: 15px 0;
  text-align: center;
}
/* line 61, ../../client/styles/pages/_exercise.sass */
.exercise .upsert-form .raw {
  margin: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../../client/styles/pages/_exercise.sass */
.exercise .upsert-form .raw.heading {
  font-weight: normal;
  text-align: center;
}
/* line 69, ../../client/styles/pages/_exercise.sass */
.exercise .upsert-form .raw.controls {
  margin-top: 20px;
}
/* line 90, ../../client/styles/pages/_exercise.sass */
.exercise .add-set-btn {
  margin-right: 5px;
}

/* line 1, ../../client/styles/directives/_chosen.sass */
.th-chosen {
  overflow: visible;
  border: 1px solid #cccccc;
  padding: 0 17px 6px 3px;
  position: relative;
  font-size: 13px;
  min-height: 36px;
  cursor: pointer;
  z-index: 2000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 13, ../../client/styles/directives/_chosen.sass */
.th-chosen .caret {
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 18, ../../client/styles/directives/_chosen.sass */
.th-chosen .caret.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 22, ../../client/styles/directives/_chosen.sass */
.th-chosen ul.selected {
  overflow: visible;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 29, ../../client/styles/directives/_chosen.sass */
.th-chosen ul.selected li {
  float: left;
  color: black;
  margin: 6px 3px 0 3px;
  padding: 2px 5px;
  background: #cccccc;
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  white-space: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 39, ../../client/styles/directives/_chosen.sass */
.th-chosen ul.selected li span {
  display: inline-block;
}
/* line 42, ../../client/styles/directives/_chosen.sass */
.th-chosen ul.selected li i {
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 47, ../../client/styles/directives/_chosen.sass */
.th-chosen ul.selected li i:hover {
  background: black;
  color: white;
}
/* line 51, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 5px;
  z-index: 1000;
  background: white;
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 66, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options .filter-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2020;
}
/* line 72, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options .add-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2020;
}
/* line 80, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options .filter-form, .th-chosen div.options .add-form {
  margin: 5px 0;
  padding: 0 60px 0 0;
}
/* line 84, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options ul {
  padding: 0;
  margin: 0 -5px 5px -5px;
  list-style: none;
  z-index: 2010;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 93, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options ul li {
  padding: 4px 8px;
  overflow: hidden;
  white-space: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 100, ../../client/styles/directives/_chosen.sass */
.th-chosen div.options ul li:hover {
  color: white;
  text-shadow: 0 0 2px black;
}

/* line 1, ../../client/styles/directives/_dropdown.sass */
.th-dropdown {
  position: relative;
}
/* line 6, ../../client/styles/directives/_dropdown.sass */
.th-dropdown .th-toggle .th-label {
  margin-right: 5px;
}
/* line 9, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #cccccc;
  z-index: 2010;
  background: white;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 23, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
/* line 28, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:first-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 31, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 34, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:nth-child(even) {
  background: white;
}
/* line 37, ../../client/styles/directives/_dropdown.sass */
.th-dropdown ul.th-menu li.th-option:hover {
  color: white;
  background: black;
}

/* line 2, ../../client/styles/directives/_th-modal.sass */
.th-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
}
/* line 10, ../../client/styles/directives/_th-modal.sass */
.th-modal.ng-hide-add, .th-modal.ng-hide-remove {
  display: block !important;
}
/* line 13, ../../client/styles/directives/_th-modal.sass */
.th-modal.ng-hide-add {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 1;
}
/* line 16, ../../client/styles/directives/_th-modal.sass */
.th-modal.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
/* line 19, ../../client/styles/directives/_th-modal.sass */
.th-modal.ng-hide-remove {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0;
}
/* line 22, ../../client/styles/directives/_th-modal.sass */
.th-modal.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
/* line 25, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3001;
  background: black;
  opacity: 0.5;
}
/* line 35, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  z-index: 3002;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 45, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-head {
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-head h5 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
}
/* line 54, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-head .btn {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 60, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-foot {
  margin-top: 20px;
  padding-bottom: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-foot .cancel-btn {
  float: left;
  margin-left: 15px;
}
/* line 69, ../../client/styles/directives/_th-modal.sass */
.th-modal .th-modal-content .th-modal-foot .apply-btn {
  float: right;
  margin-right: 15px;
}

/* line 2, ../../client/styles/directives/_th-number-input.sass */
.th-number-input button {
  margin: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 7, ../../client/styles/directives/_th-number-input.sass */
.th-number-input button.increment {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 11, ../../client/styles/directives/_th-number-input.sass */
.th-number-input button.decrement {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 16, ../../client/styles/directives/_th-number-input.sass */
.th-number-input input {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  border-top: 0 none;
  border-bottom: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 28, ../../client/styles/main.sass */
body {
  background: transparent;
}

/* line 31, ../../client/styles/main.sass */
header {
  margin: 0;
}
/* line 34, ../../client/styles/main.sass */
header .th-sidemenu-toggle {
  margin-right: 20px;
}

/* line 37, ../../client/styles/main.sass */
.content {
  padding: 80px 0 60px 0;
}

/* line 40, ../../client/styles/main.sass */
.th-footer {
  border: 0 none;
  padding-top: 5px;
  margin-top: 10px;
}
/* line 45, ../../client/styles/main.sass */
.th-footer .btn {
  border-radius: 0;
  margin: 0;
}
/* line 52, ../../client/styles/main.sass */
.th-footer .btn .th-text {
  float: left;
  padding-left: 4px;
  line-height: 24px;
  font-size: 13px;
  display: none;
}
