doctype html
html
	head
		title BodyApp

		meta( name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" )

		link( rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.css" )
		link( rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap-theme.css" )
		link( rel="stylesheet", href="vendor/font-awesome/css/font-awesome.css" )
		link( rel="stylesheet", href="css/main.css" )


	body(ng-app="BodyApp", ng-controller="MainCtrl")

		header.navbar.navbar-default.navbar-fixed-top( role="navigation" )
			div.container
				div.navbar-header
					a.navbar-brand(href="#") BodyApp
					button.btn.btn-default.navbar-toggle(role="button", ng-click="toggleSidebar()")
						i.fa.fa-bars

		div.sidebar(ng-click="toggleSidebar(false)", ng-class="{ 'sidebar-show' : sidebarShow}")
			ul.list-group
				a.list-group-item( href="/" )
					i.fa.fa-home
					span &nbsp;Home
				a.list-group-item( href="/#/exercises" )
					i.fa.fa-bars
					span &nbsp;Exercises


		div.content
				div.container.ng-view


		script( src="vendor/underscore/underscore.js")
		script( src="vendor/jquery/jquery.js" )
		script( src="vendor/jquery.transit/jquery.transit.js" )
		script( src="vendor/angular/angular.js" )
		script( src="vendor/angular-animate/angular-animate.js" )
		script( src="vendor/angular-route/angular-route.js" )
		script( src="vendor/angular-resource/angular-resource.js" )
		script( src="js/bodyApp.js" )

		script( src="vendor/bootstrap/dist/js/bootstrap.js" )

		//- script( src="vedor/requirejs/require.js", data-main="js/main.js")
