div.exercises
	div.input-group
		div.input-group-btn
			button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
				span Action&nbsp;
				span.caret
			ul.dropdown-menu
				li
					a(href="#") Action
				li
					a(href="#") Action 2
				li
					a(href="#") Action 3
		input.form-control(type="text")
		span.input-group-btn
			button.btn.btn-default(type="button")
				span.glyphicon.glyphicon-search

	ul.th-justified-list
		li(ng-repeat="exr in exercises")
			div.thumb
				span.glyphicon.glyphicon-ban-circle

			h2(ng-bind="exr.title")

			//- p(ng-bind="exr.descr")
			//- span.badge 117

			a.btn.btn-default(role="button", href="#")
				span.glyphicon.glyphicon-chevron-right

			ul.tags
				li day 1
				li day 2

	form.form-horizontal(role="form")
		div.form-group
			label.col-sm-2.control-label Group
			div.col-sm-10
				div(th-chosen="muscles")

		div.form-group
			label.col-sm-2.control-label(for="exerciseTitleInp") Title
			div.col-sm-10
				input.form-control(id="exerciseTitleInp", type="text", placeholder="exercise title")

		div.form-group
			label.col-sm-2.control-label(for="exerciseDescrInp") Description
			div.col-sm-10
				textarea.form-control(id="exerciseDescrInp", rows="3", placeholder="exercise description")


		div.form-group
			div.col-sm-offset-2.col-sm-10
				button.btn.btn-default(type="submit")
					span.glyphicon.glyphicon-plus
					span &nbsp;add exercise


	//- div.btn-group.pull-right
	//-	button.btn.btn-default(type="button")


